body {
  background-color: lightgray;
  display: flex;
  justify-content: center;
  font-family: "Noto Sans KR", sans-serif;
}

.main_box {
  margin-top: 80px;
  background-color: #fff;
  width: 400px;
  height: 700px;
}

.nav {
  background-color: gray;
  width: 400px;
  height: 30px;
}

.time_1 {
  margin-left: 23px;
  color: #fff;
}

.time_2 {
  margin-left: 190px;
  color: #fff;
}

span {
  font-size: 15px;
  font-weight: 500;
}
