body {
  background-color: lightgray;
  display: flex;
  justify-content: center;
  font-family: "Noto Sans KR", sans-serif;
}

.main_box {
  margin-top: 80px;
  background-color: #fff;
  width: 400px;
  height: 700px;
}

.nav {
  background-color: gray;
  width: 400px;
  height: 28px;
}

span {
  font-size: 15px;
  font-weight: 500;
}

.time_1 {
  margin-left: 22px;
  color: #fff;
}

.time_2 {
  margin-left: 190px;
  color: #fff;
}

.main_title {
  font-size: 30px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  margin-top: 80px;
  margin-right: 10px;
}

.img {
  display: flex;
  justify-content: center;
}

.img img {
  width: 200px;
}
