/* 기본 구조 */
body {
  background-color: lightgray;
  display: flex;
  justify-content: center;
  font-family: "Noto Sans KR", sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

.step1_box {
  margin-top: 80px;
  background-color: #fff;
  width: 400px;
  height: 700px;
}

/* nav 부분 */
.nav {
  background-color: gray;
  width: 400px;
  height: 28px;
}

span {
  font-size: 15px;
  font-weight: 500;
}

/* 큰제목  및 작은 제목*/
.time_1 {
  margin-left: 22px;
  color: #fff;
}

.time_2 {
  margin-left: 190px;
  color: #fff;
}

.title {
  font-size: 40px;
  font-weight: 900;
  margin-left: 30px;
  margin-bottom: 0px;
}

.text {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 600;
  margin-left: 30px;
}

/* 이슈선택 */
.choose {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  background-color: rgb(232, 76, 32);
  width: 340px;
  height: 160px;
  border-radius: 30px;
  margin-left: 24px;
}

.choose_1 {
  text-align: center;
  color: #fff;
}

.choose_1 .text_1 {
  font-size: 20px;
  font-weight: 900;
}

.choose_1 .text_2 {
  font-size: 17px;
}

.choose_2 {
  margin-top: 50px;
  background-color: rgb(29, 92, 192);
  width: 340px;
  height: 160px;
  border-radius: 30px;
  margin-left: 24px;
  text-align: center;
  margin-top: 30px;
  color: #fff;
}

.choose_2 .text_4 {
  padding-top: 20px;
  font-size: 20px;
  font-weight: 900;
}

.choose_2 .text_5 {
  font-size: 17px;
}

/* Footer 부분 */
.footer {
  margin-top: 100px;
  background-color: rgb(52, 52, 47);
  width: 400px;
  height: 42px;
}

.material-symbols-sharp {
  display: flex;
  justify-content: space-around;
  color: #fff;
  margin-top: 5px;
  margin-left: 66px;
  margin-top: 6px;
  width: 50px;
}
