/* 기본 구조 */
body {
  background-color: lightgray;
  display: flex;
  justify-content: center;
  font-family: "Noto Sans KR", sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

.step3_box {
  margin-top: 80px;
  background-color: #fff;
  width: 400px;
  height: 700px;
}

/* nav 부분 */
.nav {
  background-color: gray;
  width: 400px;
  height: 28px;
}

span {
  font-size: 15px;
  font-weight: 500;
}

/* 큰제목  및 작은 제목*/
.time_1 {
  margin-left: 22px;
  color: #fff;
}

.time_2 {
  margin-left: 190px;
  color: #fff;
}

/* 페이지 title */
.title_1 {
  text-align: center;
  font-size: 29px;
  font-weight: 900;
}

/* 단말 종류 */
.device {
  display: flex;
  justify-content: center;
  width: 350px;
  height: 60px;
  background-color: #cec3c3;
  margin-left: 25px;
  border-radius: 12px;
}

.device p {
  font-size: 18px;
  color: rgb(61, 96, 126);
}

/* 복구방법과 발생빈도 */
.two_block {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

/* 복구 방법 */
.solve {
  width: 160px;
  height: 60px;
  background-color: #cec3c3;
  border-radius: 12px;
  text-align: center;
}

.solve p {
  font-size: 18px;
  color: rgb(61, 96, 126);
}

.time_i {
  width: 160px;
  height: 60px;
  background-color: #cec3c3;
  border-radius: 12px;
  text-align: center;
}

.time_i p {
  font-size: 18px;
  color: rgb(61, 96, 126);
}

/* 발생시각 text*/
.real_time {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.time_title {
  font-size: 19px;
  margin-left: 30px;
  font-weight: 600;
}

.date {
  background-color: rgb(161, 193, 147);
  width: 100px;
  height: 30px;
  border-radius: 30px;
  margin-top: 20px;
  text-align: center;
  font-weight: 600;
}

.time_text {
  background-color: rgb(161, 193, 147);
  width: 100px;
  height: 30px;
  border-radius: 30px;
  margin-top: 20px;
  text-align: center;
  font-weight: 600;
  margin-right: 20px;
}

/* FW 버전 입력칸 */
.enter_fw {
  display: flex;
  justify-content: space-between;
}

.fw_title {
  margin-top: 0;
  font-size: 19px;
  font-weight: 600;
  margin-left: 43px;
}

.fw_text {
  margin-top: 0;
  font-size: 18px;
  font-weight: 400;
  margin-right: 98px;
  color: #4e3838;
}
